<div class="white projectphone">
  <span class="center"><h1>Projects</h1></span>

  <div class="row">
    <div class="col-xs-12 col-sm-6 center">
      <h3>TrivaNow</h3>
      <p>Windows form application written in C# that allows a user to play a trivia game, and maintain a list of trivia questions by editing, adding, and deleting questions</p>
      <p><a href="projects/TriviaNow.zip">Download</a></p>
      <p><a href="projects/TriviaSource.zip">Download source code</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 center">
      <h3>Campus Cafeteria</h3>
      <p>C# console example system for purchasing meals at a school cafeteria</p>
      <p>Program has 3 Test users:</p>

        Initials: <span class="bold">DQ</span> Code: <span class="bold">10</span>
        Initials: <span class="bold">IM</span> Code: <span class="bold">44</span>
        Initials: <span class="bold">SN</span> Code: <span class="bold">55</span>

      <p><a href="projects/CampusCafeteria.zip">Downolad</a></p>
      <p><a href="projects/CampusSource.zip">Downolad soucre code</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 center">
      <h3>Compare Savings Strategies</h3>
      <p>Responsive web application built using javascript that compares two lifetime annual savings strategies</p>
      <p><a href="projects\compareSavingsStrategies\savingsStrategies.html" target="_blank">Link to project</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 center projectphone">
      <h3>SDSSSTSST</h3>
      <p>Mobile web application mock-up that tracks number of seats available in the ASU football student section</p>
      <p><a href="projects\SDSSSTSST\index.html" target="_blank">Link to project</a></p>
    </div>
  </div>
</div>
