<div id="resumeview">
  <!--<span class="center"><h2>Resume</h2></span>
  <br>
  <hr>-->

  <div class="center">
    <h1>Dylan Quintanar</h1>
    <h3 class="notbold">2102 E Indigo Brush Rd. Phoenix, AZ 85048</h3>
    <h3 class="notbold">480-751-8827</h3>
    <h3 class="notbold">dylangq95@gmail.com</h3>
  </div>


  <hr>

  <div id="resumeContent">
    <h3>Education</h3>
    <br>
    <h3><span class="left">Bachelors of Science in Computer Information Systems</span><span class="right">May 2017</span></h3>
    <p>W.P. Carey School of Business</p>
    <p>Arizona State University</p>
    <ul>
      <li>Minor in Spanish</li>
      <li>Awards/Honors</li>
        <li class="indent">Provost Scholarship</li>
        <li class="indent">Member of W.P. Carey Leader's Academy</li>
    </ul>

    <hr>

    <h3>Experience</h3>
    <br>
    <h3><span class="left">Red Robin Gourmet Burgers</span><span class="right">March 2014-Present</span></h3>
    <p>Team Member/To-Go Specialist/Host</p>
    <br>
    <ul>
      <li>Responsibilities include seating guests, taking and delivering to-go orders, cleaning tables and washing dishes</li>
      <li>Gained leadership and communication skills through both daily interactions with coworkers and customers and by training new employees</li>
      <li>Learned how to work in a stressful and high-pressure environment</li>
    </ul>
    <br>
    <h3><span class="left">bioSyntagma</span><span class="right">January 2017-May 2017</span></h3>
    <br>
    <ul>
      <li>As a member of a team of five, worked with the bioengineering startup firm on a project with the goal of creating an application bridging the biological fields of image analysis and bioanalytics to be used by pharma to conduct cancer research</li>
      <li>Main responsibilities involved consulting the company’s CEO on technologies that could benefit the project, as well as creating system requirements documentation for the software engineer</li>
      <li>Relied on lean and agile methodologies heavily throughout the project</li>
    </ul>

    <hr>

    <h3>Technical Skills</h3>
    <br>
    <ul>
      <li>Able to create responsive web pages using HTML and CSS</li>
      <li>Skilled in JavaScript as well as JQuery</li>
      <li>Working knowledge of C#, as well as some PHP and Java</li>
      <li>Able to create and maintain databases in SQL using Microsoft SQL Server</li>
      <li>Experience programming hybrid mobile applications using Adobe PhoneGap</li>
      <li>Proficient in Microsoft Word, PowerPoint, Excel, and Access</li>
      <li>Leadership, commitment, and customer services</li>
    </ul>
  </div>


  <p class="center"><a href="resume.pdf" target="_blank">Download resume as pdf</a></p>

</div>
